*{
  font-family: 'Poppins', sans-serif;
}
.linker{
  margin: 1%;
  text-decoration: none;
  padding-left: 1%;
  padding-top: 0.5%;
  padding-right: 1%;
  padding-bottom: 0.5%;
  background-color: aliceblue;
  border-radius: 2px;
  box-shadow: 1px 1px 8px 1px rgb(138, 176, 153);
}
.linker:hover{
  background-color:  #777;
  color: white;
  box-shadow: 1px 1px 8px 1px rgb(35, 78, 52);
}
.linksignup{
  background-color: rgb(243, 227, 201);
  text-decoration: none;
  font-size: medium;
  padding: 3%;
  color: rgb(96, 90, 90);
  border-radius: 2px;
  font-family: 'Poppins', sans-serif;
  float: left;
  margin-left: 4.6%;
  transition: transform 700ms;
  margin-top: -3%;
}
.linksignup:hover{
  color: white;
  background-color: #777;
  transform: scale(1.05);
}